		<form class="form-horizontal">
            <fieldset>
                <legend>Add New House</legend>
                <!-- owner input-->
                <div class="form-group">
                    <label class="col-md-2 control-label">Owner</label>
                    <div class="col-md-10">
                      <input id="owner" name="owner" [(ngModel)]="house.owner" type="text" placeholder="Owner"
                      class="form-control" #owner="ngModel" required>
                      <div class="alert alert-danger" [hidden]="owner.valid">Owner Name is required</div>
                    </div>
                </div>
 
                <div class="form-group">
                    <label class="col-md-2 control-label">Type</label>
                    <div class="col-md-10">
                        <input id="type" name="type" [(ngModel)]="house.type" class="form-control" list="typeList"
                        placeholder="Residential" #type="ngModel" required>
                        
                        <datalist id="typeList">
                            <option value="Residential">
                            <option value="Commercial">
                            <option value="Industrial">
                            <option value="Agricultural">
                        </datalist>
                        <div class="alert alert-danger" [hidden]="type.valid">Type is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Buy/Sell/Rent</label>
                    <div class="col-md-10">
                        <input id="purpose" [(ngModel)]="house.purpose" class="form-control" name="purpose" list="purposeList"
                        placeholder="Buy" #purpose="ngModel" required>
                        
                        <datalist id="purposeList">
                            <option value="Buy">
                            <option value="Rent">
                            <option value="Wanted">
                        </datalist>
                        <div class="alert alert-danger" [hidden]="purpose.valid">Purpose is required</div>
                    </div>
                </div> 

                <!-- location input-->
                <div class="form-group">
                    <label class="col-md-2 control-label">Location</label>
                    <div class="col-md-10">
                    <input id="location" [(ngModel)]="house.location" class="form-control" name="location" list="locationList"
                    placeholder="Location" #location="ngModel" required>
                    
                    <datalist id="locationList">
                        <option value="Defence Raya">
                        <option value="Defence Phase 1">
                        <option value="Defence Phase 2">
                        <option value="Defence Phase 3">
                        <option value="Defence Phase 4">
                        <option value="Defence Phase 5">
                        <option value="Defence Phase 6">
                        <option value="Defence Phase 7">
                        <option value="Defence Phase 8">
                        <option value="Defence Phase 9">
                    </datalist>
                    <div class="alert alert-danger" [hidden]="location.valid">Location is required</div>
                    </div>
                </div>
                <!-- address input-->
                <div class="form-group">
                    <label class="col-md-2 control-label">Address</label>
                    <div class="col-md-10">
                        <input id="address" name="address" [(ngModel)]="house.address" type="text" placeholder="Address"
                        class="form-control" #address="ngModel" required>
                        <p class="help-block">Apartment, suite , unit, building, floor, Street address, P.O. box</p>
                        <div class="alert alert-danger" [hidden]="address.valid">Address is required</div>
                    </div>
                </div>
                <!-- city input-->
                <div class="form-group">
                    <label class="col-md-2 control-label">City</label>
                    <div class="col-md-10">
                        <input id="city" [(ngModel)]="house.city" class="form-control" name="city" list="cityList"
                        placeholder="City" #city="ngModel" required>
                        <datalist id="cityList">
                            <option value="Lahore">
                            <option value="Islamabad">
                            <option value="Karachi">
                        </datalist>
                        <div class="alert alert-danger" [hidden]="city.valid">City is required</div>
                    </div>
                </div>    
                <div class="form-group">
                    <label class="col-md-2 control-label">Bedrooms</label>
                    <div class="col-md-10">
                      <input id="bedrooms" name="bedrooms" [(ngModel)]="house.bedrooms" type="number" placeholder="Bedrooms"
                      class="form-control" #bedrooms="ngModel" required>
                      <div class="alert alert-danger" [hidden]="bedrooms.valid">Bedrooms required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Bathrooms</label>
                    <div class="col-md-10">
                      <input id="bathrooms" name="bathrooms" [(ngModel)]="house.bathrooms" type="number" placeholder="Bathrooms"
                      class="form-control" #bathrooms="ngModel" required>
                      <div class="alert alert-danger" [hidden]="bathrooms.valid">Bathrooms is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Area</label>
                    <div class="col-md-10">
                      <input id="area" name="area" [(ngModel)]="house.area" type="number" placeholder="Area"
                      class="form-control" #area="ngModel" required>
                      <div class="alert alert-danger" [hidden]="area.valid">Area is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Price</label>
                    <div class="col-md-10">
                      <input id="price" name="price" [(ngModel)]="house.price" type="number" placeholder="Price"
                      class="form-control" #price="ngModel" required>
                      <div class="alert alert-danger" [hidden]="price.valid">Price is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Additional Details</label>
                    <div class="col-md-10">
                      <input id="additionalDetails" name="additionalDetails" [(ngModel)]="house.additionalDetails" type="text" placeholder="Details"
                      class="form-control" #additionalDetails="ngModel">

                    </div>
                </div>
                <div class="form-group">
                    <label for="myFile" class="col-md-2 control-label">Add Photos</label>

                    <div class="col-md-10">
                        <input type="text" readonly="" class="form-control" placeholder="Browse...">
                        <input type="file" id="myFile" multiple size="50" (change)="myFunction($event)">
                    </div>
                    
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-default" (click)="onCancel($event)">Cancel</button>&nbsp;&nbsp;
                        <button class="btn btn-primary" (click)="save($event)">Save</button>  
                    </div>               
                </div>

            </fieldset>

        </form>
