  <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a [routerLink]="['/houses']">
                       
                    </a>
                </li>
                <li>
                    <a id="hlink" *ngIf="af.auth | async" [routerLink]="['/houses']" data-toggle="offcanvas">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>Houses</span></a>
                </li>
                <li>
                    <a id="hlink" *ngIf="af.auth | async" [routerLink]="['/houses/new']" data-toggle="offcanvas">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>New</span></a>
                </li>
                <li>
                    <a id="hlink" *ngIf="!(af.auth | async)" [routerLink]="['signin']" data-toggle="offcanvas">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span>Sign In</span></a>
                </li>
                <li>
                    <a id="hlink" *ngIf="af.auth | async" (click)="signOut()" data-toggle="offcanvas">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <span>Sign Out</span></a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

      <div class="navbar-header">
        
       
        <div style="margin-left: 50px; font-style: oblique; font-weight: bold; color: white; font-size: 20px;" class="navbar-brand"> Coverall <span class="glyphicon glyphicon-menu-right"></span> {{title}} </div>

        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>

      </div>

        <div id="page-content-wrapper">

            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
