<md-sidenav-layout class="demo-sidenav-layout">
    <md-sidenav #end align="start" mode="push">
        <div class="cl-user__details">
            <div class="cl-user__photo">
                <img alt="profil" class="cl-circle" src="{{photoUrl}}">
            </div>
            <div class="cl-user__info">
                <p>{{userName}}</p>
                <p>{{userEmail}}</p>
            </div>
        </div>
        <nav class="" id="navigation" role="navigation">
            <ul class="nav">
                <li>
                    <a [routerLink]="['/home/houses']" (click)="end.close()"><i class="material-icons">home</i><span>Houses</span></a>
                </li>
                <li>
                    <a [routerLink]="['/home/houses/new']" (click)="end.close()"><i class="material-icons">home</i><span>New</span></a>
                </li>
                <li>
                    <a (click)="onSignOut()" style="cursor: pointer;"><i class="material-icons">exit_to_app</i><span>Sign Out</span></a>
                </li>

            </ul>
        </nav>
    </md-sidenav>
    <md-toolbar color="primary">

        <md-icon class="material-icons menuIcon" (click)="end.toggle()">menu</md-icon>

        Coverall Pakistan <i class="material-icons">keyboard_arrow_right</i> {{title}}
        <span class="app-toolbar-filler"></span>
    </md-toolbar>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>